<h1>Hello ,This is Your First page</h1>



<%= link_to 'New article', new_article_path %>

<h2> Your List </h2>
<style>
    table,th,td{
      border:1px solid black;
      background-color: lightblue;
    }
    
</style>
<body>  

<table style="width:80%">
<thead>
    <tr>
      <th>ID</th>
      <th>Title</th> |
      <th>Text</th>
      <th>Action</th>
    </tr>
</thead>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
       <td><%= article.text %></td>
     
      <td><%= link_to'Show',article_path(id: article.id), style:"text-decoration:none;"%> |
      <%= link_to 'Edit',edit_article_path(article),style:"text-decoration:none;"%> |
      <%= link_to 'Delete', article_path(article),style:"text-decoration:none;", method: :delete,
                                                       data: { confirm: 'Are you sure?' } %></td>
    </tr> 
    
  <%end%>

</table>
 
</body>
